# Database
DB_USER=admin
DB_PASSWORD=secretpassword
DB_NAME=sentinel_grc
DB_PORT=5432
DATABASE_URL=postgres://admin:secretpassword@db:5432/sentinel_grc

# Backend
PORT=8080

# Frontend (Public)
PUBLIC_API_URL=http://localhost:8081/api/v1
